<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Epicodus Tunes</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="marketplace">Marketplace</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>

<!-- <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD_HXnsSpkL7W8KurtPFI_5vqYSD1ZcJkk",
    authDomain: "my-firebase-project-9f136.firebaseapp.com",
    databaseURL: "https://my-firebase-project-9f136.firebaseio.com",
    projectId: "my-firebase-project-9f136",
    storageBucket: "",
    messagingSenderId: "100773520945"
  };
  firebase.initializeApp(config);
</script> -->
